
#textzone {
  height: 440px;
  width: 480px;
  text-align: justify;
  background-color: rgb(230, 212, 189);
}

#chatzone {
  height: 40px;
  width: 480px;
  text-align: justify;
  background-color: rgb(192, 192, 240);
}

#adress {
  height: 40px;
  width: 480px;
  text-align: justify;
  background-color: rgb(156, 187, 156);
}

#wikizone {
  height: 240px;
  width: 480px;
  text-align: justify;
  background-color: aquamarine;
}

#mapContainer {
  height: 640px;
  width: 480px;
  text-align: justify;
}