body {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  flex-direction: column;
   
}

.container {
  width: 52vw;
  border-radius: 0.5em;
}

.chatarea {
  background-color: rgb(151, 227, 250);
  
}

.presentation {
  text-align: center;
  background-color: rgb(248, 168, 199);
}

.heremap {
  width: 40em; 
  height: 30em;
}

/* Small devices  phones 360px */

@media (min-width: 200px) and (max-width: 500px) {
  body {
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: auto;
     
  }

  .container {
    width: auto;
    border-radius: 0.5em;
    margin: auto;
  }

  .heremap {
    width: 20em; 
    height: 10em;
  }
}
