<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>GranPyBot</title>
	</head>
	<body>
        <header>
         <p><h4>GranPyBot</h4></p>   
        </header>
        <div>
            <p><img src="img/grandpybot.png" alt="Votre meilleur ami !" /> Bienvenue ! GranPyBot est à votre disposition.<br>
            <label for="request">Votre demande :</label><br>
        	<textarea id="request" name="request" rows=15 cols=30>GranPyBot ne vous mangeras pas !</textarea>
        </div>
        <footer>
            <p>A propos</p>
        </footer>
	</body>
</html>