<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>GranPyBot</title>
    <style type="{{url_for('static', filename='css/style.css')}}"></style>
    <meta name="viewport" content="initial-scale=1.0,
        width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <header>
        <p>
        <h4>GranPyBot</h4>
        </p>
    </header>
    <div id="textzone">
        <img src="{{url_for('static', filename='img/grandpybot.png')}}" alt="Votre meilleur ami !" />
        <p>Bienvenue ! GranPyBot est à votre disposition.</p><br>
        <form id="chatbox">
            <label for="text">Votre demande</label><br />
            <input type="text" id="text" name="text" />
            <button id="submitBtn" type="button">Envoyer</button>
        </form>

    </div>
    <div id="chatzone"></div>
    <div id="wikizone"></div>
    <div style="width: 640px; height: 480px" id="mapContainer"></div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script>
        function displayMap(lati, longi) {
            // Initialize the platform object:
            var platform = new H.service.Platform({
                'app_id': '{{EtVVzQPzJ7UmbsgA2hgs}}',
                'apikey': '{{ALVdVW2nuitwsEdyBZ4ftGgxEEGG8gFpNHvUzwLXS9E}}'
            });

            // Instantiate (and display) a map object:
            const map = new H.Map(document.getElementById('mapContainer'),
                platform.createDefaultLayers().satellite.map,
                {
                    zoom: 0,
                    center: { lng: longi, lat: latit }
                });
            const mapEvents = new H.mapevents.MapEvents(map);
            const behavior = new H.mapevents.Behavior(mapEvents);
            const marker1 = new H.map.Marker({ lat: lati, lng: longi });
            map.addObject(marker1);
        }
    </script>
    <footer>
        <p>A propos</p>
    </footer>
</body>

</html>