<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>GranPyBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="initial-scale=1.0,
        width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <header>
        <p>
        <h4 style="text-align:center">GranPyBot</h4>
        </p>
    </header>

    <div id="textzone">
        <img src="{{url_for('static', filename='img/grandpybot.png')}}" alt="Votre meilleur ami !" />
        <p>Bienvenue ! GranPyBot est à votre disposition.</p><br>
        <form id="chatbox">
            <label for="text">Votre demande</label><br />
            <input type="text" id="text" name="text" />
            <button id="submitBtn" type="button">Envoyer</button>
        </form>
    </div>

    <div id="chatzone"></div>
    <div id="adress"></div>
    <div id="wikizone"></div>

    <div style="width: 640px; height: 480px" id="mapContainer"></div>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script>
        function displayMap(lati, longi) {
            document.getElementById("mapContainer").innerText = ""
            // Initialize the platform object:
            var platform = new H.service.Platform({
                'apikey': 'ALVdVW2nuitwsEdyBZ4ftGgxEEGG8gFpNHvUzwLXS9E',
                'app_id': 'EtVVzQPzJ7UmbsgA2hgs'

            });

            // Obtain the default map types from the platform object
            var maptypes = platform.createDefaultLayers();

            // Instantiate (and display) a map object:
            var map = new H.Map(
                document.getElementById('mapContainer'),
                maptypes.vector.normal.map,
                {
                    zoom: 10,
                    center: { lng: longi, lat: lati }
                });
            var locationMarker = new H.map.Marker({ lat: lati, lng: longi });
            map.addObject(locationMarker);
        }
    </script>
    <footer>
        <p>A propos</p>
    </footer>
</body>

</html>